/# Import the required module for running.py
/.vscode
/1692207080762 (1).pdf
/colab_gen_ai.ipynb
/extracted_images
/extracted_text.csv
/file.py
/image_reader.py
/page17_img0.png
/processed_pdfs.txt
/streamlit2.py
/streamlit_hi.py
/test_1.py
/__pycache__